.navbar-expand-lg {
    font-size: 17px;
    background-color: #f4f4f4 !important;
    padding-right: 10px;
    margin: 0;
    border-color: #9c7765 !important;
}

.bi-cart-fill {
    width: 50px;
    color: gray;
    position:static;
    padding-right: 10px;
}

.bi-whatsapp {
    width: 50px;
    color: gray;
    position:static;
    padding-right: 10px;
    padding-left: 15px;
}

.btn {
    margin-right: 5px;
}

.btn-light {
    background-color: #967E76;
    border-color: #967E76 !important;
    color: #fff;
}

.btn-outline-light {
   border-color: #967E76 !important;
   color: #967E76;

}

.btn:hover {
    color: #815a49;
    background-color: #EEE3CB;
}

.nama {
    font-size: 18px;
    color: #815a49;
}

.nama:hover {
    background-color: #f4f4f4 !important;
    border: #f4f4f4;   
}

.nama .dropdown-item:hover{
    border: #f4f4f4;
}


.carousel {
    width: 1200px;
}

